
.principal{
    border-radius: 15px;
    padding: 15px;
    display: flex;
    /*margin: auto 0 20px;*/
    line-height:1.6;
    }
.principal div{
    margin: 0 auto 20px;
}

div{
    font-size: 19px;
    font-family: sans-serif;
    /*padding-right: 200px;*/
    padding-top: 50px;
    /*min-height:290px;*/
}
div p{
    margin-bottom: 1.6em;
}

div h1,h2{
    font-size: 25px;
    padding-left: 150px;
    letter-spacing: -1px;
}
h2{
    font-size: 19px;
    color: #FF499C;
}

.letra{
    animation-name: cor;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    border-radius: 40px;
    padding: 10px;    
}
@keyframes cor{
    from{background-color: #F6A5F9;}
    to{background-color: #A5AFF9;}
}

p:hover{
    color: white;
    font-size: 21px;
}


